.class-page {
  padding: 20px;
}

.student-info {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* stream dropdown */
.stream-row {
  margin: 20px 10px 10px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stream-row select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1.5px solid #b6c5d1;
}

/* image container */
.schedule-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.schedule-img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}
