.notice-page {
  padding: 20px 40px;
}

.notice-page-subheader {
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: #003b73;
}

.notice-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
